<h1>Set Mood</h1>

<%= link_to "Positive", root_path(social_media_mood: "positivo")%>
<%= link_to "Neutral", root_path(social_media_mood: "neutral")%>
<%= link_to "Negative", root_path(social_media_mood: "negative")%>
